body {
  background-color: #e9d2a0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}

header h1 {
  background-color: #63714d;
  color: #fcdfe5;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 6em;
  font-weight: normal;
  margin: 0em;
  text-align: center;
}

h1 .first-letter {
  color: #ffb5c6;
  font-weight: bold;
}

h2 {
  background-color: #e9d2a0;
  color: #63714d;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0em;
  padding: .1em 0em .1em 0em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

h3 {
  background-color: #eed9ad;
  color: #63714d;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin: 0em;
  padding: .1em 0em .1em 0em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #63714d;
} 

a:visited {
  text-decoration: none;
  color: #63714d;
}

a:active {
  text-decoration: none;
  color: #63714d;
}

nav ul {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 1.2em 0em 1.2em 0em;
  font-size: 1.2em;
  background-color: #ffb5c6;
  position: fixed;
  text-align: right;
  width: 100%;
  z-index: 1;
  height: 1.45em;
}

nav li {
  display: inline;
  padding: 1.2em .5em;
}

nav li:hover {
  background-color: #e2e9d4;
}

nav li a:hover {
  text-decoration: none;
  background-color: #e2e9d4;
  color: #63714d;
} 

div {
  background-color: #f6e5c0;
}

#nestedAccordion div {
  display: none;
}

p {
  font-size: 1.2em;
  margin: 0em auto;
  padding: 1em 0em 1em 0em;
  max-width: 960px;
}

ul {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#contact {
  list-style-type: none;
  padding: 1em 0em 1em 0em;
  margin:0;
  font-size: 1.2em;
}

#filler {
  height: 70px;
  background-color: #ffb5c6;
}

#joshu-logo {
  margin-left: 1.5em;
  margin-top: .3em;
  position: fixed;
  z-index: 2;
}

.body-text {
  text-align: center
}

@media only screen and (max-width: 1000px) {
  p {
    width: 90%;
  }
}

@media only screen and (max-width: 1100px) {
  nav ul li {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  ul {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 15vw;
  }
}